.top__notification {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;

  div {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .title {
      color: var(--clr-grayish-blue-800);
      font-size: 1.5rem;
    }

    .count {
      background-color: var(--clr-blue);
      color: var(--clr-white);
      padding: 5px 13px;
      border-radius: 10px;
    }
  }

  button {
    background: transparent;
    color: var(--clr-grayish-blue-400);

    &:hover {
      color: var(--clr-blue);
      transition: 0.5s ease;
    }
  }
}
