.read__notifications {
  display: grid;
  gap: 1rem;

  .read {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    .avatar {
      max-width: 50px;
      min-width: 50px;
    }

    .notification {
      .time {
        color: var(--clr-grayish-blue-400);
      }
      .message {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid var(--clr-grayish-blue-300);
        border-radius: 5px;

        &:hover {
          background-color: var(--clr-grayish-blue-200);
          cursor: pointer;
          transition: 0.3s ease;
        }
      }
    }

    .chess {
      max-width: 50px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
