// Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a:any-link {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw-normal);
  color: var(--clr-grayish-blue-600);
  background-color: var(--clr-grayish-blue-100);
  min-height: 100vh;
}
